body
{
  background:url(../img/bg2.jpg);
  background-size: 100%;
}

p
{ 
  text-align: justify;
  text-indent: 30px;
  font-family: Arial;
  font-size: 14pt;
  color: #033359;
}


.txt
{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 20px;
  background: #8199ac; 
   
}

.imc img
{
  height: 400px;
  float: left;
  margin: 0 20px 0 0;
}

.imc img:hover
{
  box-shadow: 0 0 50px #000;
  transition: 1s;
}

.imp img
{
  height: 400px;
  float: right;
  margin: 0 0 5px 20px;
}

.imp img:hover
{
  transform: perspective(300px) rotateY(-15deg);
  transition:2s;
}

.imj img
{
  height: 400px;
  float: left;
  margin: 0 20px 0 0;
}

.imj img:hover
{
  transform: perspective(300px) scale(0.8);
  transition: 1s;
}



.h
{
  text-align: center;
  font-family: Helvetica;
  font-size: 36pt;
  font-weight: bold;
  color: #054573;
}

.ht {
  text-align: center;

}

.ht a {
  margin: 0 10px;
}

.ht a img{
  width: 15px;
}

.container {

  display: flex;
  justify-content: space-around;

}

.container img {
  width: 250px;
}

.adr {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.adr a:nth-child(2) {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 35px;
    overflow: hidden;
    transition: 0.2s;
    margin: 30px 0;

}

.adr a:nth-child(2):hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.adr a:nth-child(2) span {
  position: absolute;
  display: block;
}

.adr a:nth-child(2) span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}

.adr a:nth-child(2):hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.adr a:nth-child(2) span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}

.adr a:nth-child(2):hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.adr a:nth-child(2) span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}

.adr a:nth-child(2):hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.adr a:nth-child(2) span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}

.adr a:nth-child(2):hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.cpp img:hover {
  transform: rotateX(360deg);
  transition: 2s;
}


.pascal img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.js img:hover {
  transform: skewX(20deg) rotateY(180deg);
  transition: 2s;
}
