body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: url(bg6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    background: url(bg6.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header h1::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    text-shadow: -5px 5px 20px #000,
    -10px 10px 30px #000,
    -20px 15px 40px #000,
    -25px 20px 50px #000;
}