@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

body 
{
  background: #f7e1af;
  font-family: 'Modak', cursive;
}

.my_flex div
{
  font-size: 26pt;
  font-family: 'Modak', cursive;
  border-bottom: 5px solid rgb(185, 126, 185);
}

/* .perechen
{
  font-family:
  font-size:
  padding:
  margin:
} */

.h
{
  text-align: center;
  font-family: 'Modak', cursive;
  font-size: 3.4em;
  font-weight: bold;
  color: purple;
}

.my_flex
{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 0 50px 15px 50px;
  border-bottom: 5px solid rgb(185, 126, 185);
}

a
{
  text-decoration: none;
  color: #000;
}

a:visited
{
  text-decoration: none;
  color: purple;
}

.inf div {
  margin: 0 auto;
  width: 70%;
  padding: 0 50px 15px 50px;
  border-bottom: 5px solid rgb(185, 126, 185);
}

.inf p
{ 
  font-family: 'Modak', cursive;
  font-size: 18pt;
  font-weight: bold;
  color: #6f4b77;
  text-indent: 50px;
}

#D a:visited {
  color: #000;
  font-size: 12pt;
}

#C a:visited {
  color: #000;
  font-size: 12pt;
}

#B a:visited {
  color: #000;
  font-size: 12pt;
}

.to_top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: skyblue;
  color: dimgray;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 3em;
}