@import url('https://fonts.googleapis.com/css&family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3B1519;
}

h1 {
    position: relative;
    font-size:45em;
    color: #3B1519;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #bb0a1e;
    overflow: hidden;
    animation: anim 5s linear infinite;
}


@keyframes anim {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        
    }
}

